body {}

:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
}
/* color: var(--secondary); */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
    background-color: var(--light);
}

a.back {
    float: inline-end;
    margin: 5px 5px 0 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

table {
    width: fit-content;
    margin: 1em auto;
    border-collapse: collapse;
}

table tr:first-of-type, 
table tr:nth-of-type(2),
table tr:nth-of-type(9)
{
    border-top: 1px solid var(--dark);
}

table tr:nth-of-type(8) td:last-of-type {
    border-top: 1px dotted var(--secondary);
}

table tr:nth-of-type(12)
{
    border-bottom: 1px solid var(--dark);
}

th {
    padding-top: 0.5em;
    padding-bottom: 0.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0em auto;
}

figcaption {
    text-align: center;
    margin-top: 0.2em;
}

tr:first-of-type figure img {
    width:60%;
}

tr:last-of-type figure img {
    width:35%;
}

tr td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

tr:nth-of-type(7) td {
    padding-bottom: 0.5em;
}

tr:nth-of-type(8) td {
    padding-top: 0.5em;
}

a {
    text-decoration: none;
}

td {
    padding: 8px;
    text-align: left;
}

.icon {
    display: inline-block;
    width: 20px; 
    height: auto;
    margin-right: 5px; 
}


