body {}

:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
    background-color: var(--light);
}

a.home {
    float: inline-end;
    margin: 5px 5px 0 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0em auto;
}

figcaption {
    text-align: center;
    margin-top: 1em;
}

tr:first-of-type figure img {
    width:45%;
}

a {
    text-decoration: none;
}

table {
    width: fit-content;
    margin: 1em auto;
    border-collapse: collapse;
}

th {
    text-align: center;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

td ul li {
    color: var(--secondary);
}

td ul li:first-of-type {
    font-size: larger;
    font-weight: 500;
    color: var(--dark);
}

table tr td {
    border-top: 1px dotted var(--secondary);
    border-bottom: 1px dotted var(--secondary);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table tr:first-of-type td {
    border-top: 0px dotted var(--secondary);
    border-bottom: 0px dotted var(--secondary);
    padding-top: 0em;
    padding-bottom: 0em;
}

img.icon {
    width:2em;
    display: inline;
    opacity: 70%;
}

table tr td:nth-child(2) ul li:nth-child(4) {
    text-align: end;
}