 /* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  border-radius: 5px;
  font-size: small;
  text-align: left;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

.bg-danger {bg-color:#8E24AA}

.text-info { cursor: pointer; }

abbr  {  text-decoration: none !important; }

@media only screen and (max-width: 768px) {
  .img-responsive {display: none !important;}
}

