/* <html> = the root */
html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}

article {
    width: fit-content;
    text-align: center;
    /* margin: 1em 10em 1em 10em; */
}

img {
    display: block;
    width: 80%;
    max-width: 800px;
}

figcaption {
    text-align: start;
    font-size: 1.1em;
    margin: 0.8em 0.2em 0 0.2em;
}

a {
    color: black;
}

footer {
    font-size: 0.8em;
    color: #222;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;
    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}

