table * {
    line-height: 1;
    margin:0;
    padding:0;
}

tbody {
    border-top: 1px solid #343a40;
}

table a {
    color: #343a40;
    text-decoration: none;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1em;
}

tbody tr td {
    padding: 0.3em .5em 0.3em 1em;
}

tbody tr:first-of-type > td {
    padding-top: 0.6em;
}
tbody tr:last-of-type > td {
    padding-bottom: 0.6em;
}

tbody:last-of-type tr:last-of-type {
    border-bottom: 1px solid #343a40;
}

.group > td {
    font-size: 1rem;
    padding-left: 1.5rem;
    line-height: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 0;
    margin-bottom: 0;
}